.wy-table-responsive table td {
  white-space: normal !important;
}

.wy-menu > .caption > span.caption-text {
  color: #008d62 !important;
}

body{
  font-family:"Arial", Helvetica, sans-serif !important;
}

head{
  font-family:"Arial", Helvetica, sans-serif !important;
}

body > div.wy-grid-for-nav > nav > div > div.wy-side-nav-search > a::before {
  content: "" !important;
}